In [9]:
%load_ext autoreload
%autoreload 2
from IPython.core.interactiveshell import InteractiveShell
from IPython.display import IFrame, display
InteractiveShell.ast_node_interactivity = "all"

# Probabilities to cluster algorithm

A notebook to hash out this algorithm and check it works.

Will hopefully turn into a unit test too, hence CVSs into version control.

In [5]:
from src import locations as loc

import pandas as pd
import duckdb
from pathlib import Path

In [104]:
clus = pd.read_csv(Path(loc.PROJECT_DIR, "test", "clusters.csv"))
prob = pd.read_csv(Path(loc.PROJECT_DIR, "test", "probabilities.csv"))

In [140]:
duckdb.sql("""
    select
        *
    from
        prob;
""")

â”Œâ”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ uuid  â”‚ link_type â”‚ cluster â”‚      id      â”‚ source â”‚ probability â”‚
â”‚ int64 â”‚  varchar  â”‚  int64  â”‚   varchar    â”‚ int64  â”‚   double    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚     1 â”‚ link      â”‚       0 â”‚ will_inc_t1  â”‚      1 â”‚         1.0 â”‚
â”‚     2 â”‚ link      â”‚       0 â”‚ leo_inc_t1   â”‚      1 â”‚         1.0 â”‚
â”‚     3 â”‚ link      â”‚       0 â”‚ sarah_inc_t1 â”‚      1 â”‚         1.0 â”‚
â”‚     4 â”‚ link      â”‚       1 â”‚ will_inc_t2  â”‚      2 â”‚         0.9 â”‚
â”‚     5 â”‚ link      â”‚       2 â”‚ will_inc_t2  â”‚      2 â”‚         0.7 â”‚
â”‚     6 â”‚ link      â”‚       1 â”‚ woll_inc_t2  â”‚      2 â”‚         0.7 â”‚
â”‚     7 â”‚ link      â”‚       1 â”‚ wall_inc_t2  â”‚      2 â”‚         0.7 â”‚
â”‚     8 â”‚ link      â”‚       2 â”‚ lao_inc_t2   â”‚      2 â”‚         0.8 â”‚
â”‚     9 â”‚ link      â”‚       2 â”‚ lio_inc_t2   â”‚      2 â”‚        0.85 â”‚
â”‚    10 â”‚ link      â”‚       2 â”‚ leo_inc_t2   â”‚      2 â”‚         0.9 â”‚
â”‚    11 â”‚ link      â”‚       4 â”‚ pedro_inc_t2 â”‚      2 â”‚         0.9 â”‚
â”‚    12 â”‚ link      â”‚       2 â”‚ pedro_inc_t2 â”‚      2 â”‚         0.7 â”‚
â”‚    13 â”‚ link      â”‚       3 â”‚ podro_inc_t2 â”‚      2 â”‚         0.6 â”‚
â”‚    14 â”‚ link      â”‚       1 â”‚ will_inc_t3  â”‚      3 â”‚         1.0 â”‚
â”‚    15 â”‚ link      â”‚       4 â”‚ pedro_inc_t3 â”‚      3 â”‚         0.2 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 15 rows                                                 6 columns â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [139]:
duckdb.sql("""
    select
        *
    from
        clus;
""")

â”Œâ”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ uuid  â”‚ cluster â”‚      id      â”‚ source â”‚ n_seq â”‚ n_par â”‚
â”‚ int64 â”‚  int64  â”‚   varchar    â”‚ int64  â”‚ int64 â”‚ int64 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚     1 â”‚       1 â”‚ will_inc_t1  â”‚      1 â”‚     0 â”‚     0 â”‚
â”‚     2 â”‚       1 â”‚ will_inc_t2  â”‚      2 â”‚     1 â”‚     1 â”‚
â”‚     3 â”‚       1 â”‚ will_inc_t3  â”‚      3 â”‚     2 â”‚     1 â”‚
â”‚     4 â”‚       2 â”‚ leo_inc_t1   â”‚      1 â”‚     0 â”‚     0 â”‚
â”‚     5 â”‚       2 â”‚ leo_inc_t2   â”‚      2 â”‚     1 â”‚     1 â”‚
â”‚     6 â”‚       3 â”‚ sarah_inc_t1 â”‚      1 â”‚     0 â”‚     0 â”‚
â”‚     7 â”‚       4 â”‚ pedro_inc_t2 â”‚      2 â”‚     1 â”‚     1 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜

Having done some fiddling below, here's the core SQL.

Step 1: instantiate clusters (or already have a cluster table)
Step 2: run this to add any new clusters the probabilities table now holds

Note this notebook DOESN'T handle adding unmatched dimensions to the clusters table as new clusters.

Params:

* n: your current stage in the ðŸ™blocktopus
* threshold: the point where we consider a probability a valid match. For parallel, note this means all tables will use the same value, which might not be the optimal value across all tables. In this instance, consider making it an additive table

In [ ]:
sql = """
    select
        nextval('uuid') as uuid, -- Create UUID in an appropriate way for Postgres
        cluster,
        id,
        source,
        1 as n,
    from (
        select
            distinct on (prob.cluster, prob.source)
            prob.*
        from
            prob
        anti join clus_init on
            clus_init.id = prob.id
            and clus_init.source = prob.source
        where 
            probability > 0.7 -- Should be set by calling function
            and link_type = 'link'
        order by
            probability desc,
            id desc
    )
    union
    select
        *
    from
        clus_init
"""

Something doesn't add up here. I previously thought this needed recursion. Why? Let's try and construct a situation:

* "will_inc" is 0.9 for cluster 1 and 0.8 for cluster 2
* "wedro_inc" is 0.8 for cluster 1 and 0.75 for cluster 2

In the current setup, "will_inc" goes to cluster 1 and cluster 2 is unmatched.

What we want is "will_inc" to go to cluster 1, and the second best option, "wedro_inc", to go to cluster 2.

## Parallel

Sometimes we might join several tables to `probabilities` at once, then add them to `clusters` together.

In [120]:
clus_init = duckdb.sql("""
    drop sequence if exists uuid;
    drop sequence if exists cluster;
    create sequence uuid start 1;
    create sequence cluster start 1;
    select
        nextval('uuid') as uuid,
        nextval('cluster') as cluster,
        id,
        source,
        0 as n,
    from
        prob
    where
        cluster = 0
""")
clus_init

â”Œâ”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ uuid  â”‚ cluster â”‚      id      â”‚ source â”‚   n   â”‚
â”‚ int64 â”‚  int64  â”‚   varchar    â”‚ int64  â”‚ int32 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚     1 â”‚       1 â”‚ will_inc_t1  â”‚      1 â”‚     0 â”‚
â”‚     2 â”‚       2 â”‚ leo_inc_t1   â”‚      1 â”‚     0 â”‚
â”‚     3 â”‚       3 â”‚ sarah_inc_t1 â”‚      1 â”‚     0 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜

In [121]:
clus_complete = duckdb.sql("""
    select
        nextval('uuid') as uuid,
        cluster,
        id,
        source,
        1 as n,
    from (
        select
            distinct on (prob.cluster, prob.source)
            prob.*
        from
            prob
        anti join clus_init cl on
            cl.id = prob.id
            and cl.source = prob.source
        where 
            probability > 0.7
        order by
            probability desc,
            id desc
    )
    union
    select
        *
    from
        clus_init
""")

In [122]:
clus_check_l = duckdb.sql("""
    select
        cluster,
        id,
        source,
        n::int as n
    from
        clus_complete
    order by
        cluster,
        source,
        id,
        n
""")
clus_check_r = duckdb.sql("""
    select
        cluster,
        id,
        source,
        n_par::int as n
    from
        clus
    order by
        cluster,
        source,
        id,
        n_par
""")
clus_check_l.df().equals(clus_check_r.df())
clus_check_l.df().compare(clus_check_r.df())

True

Empty DataFrame
Columns: []
Index: []

## Sequential

Sometimes we'll add one table to `probabilities`, then resolve to `clusters`, then do that over and over.

In [132]:
clus_init = duckdb.sql("""
    drop sequence if exists uuid;
    drop sequence if exists cluster;
    create sequence uuid start 1;
    create sequence cluster start 1;
    select
        nextval('uuid') as uuid,
        nextval('cluster') as cluster,
        id,
        source,
        0 as n,
    from
        prob
    where
        cluster = 0
""")
clus_init

â”Œâ”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ uuid  â”‚ cluster â”‚      id      â”‚ source â”‚   n   â”‚
â”‚ int64 â”‚  int64  â”‚   varchar    â”‚ int64  â”‚ int32 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚     1 â”‚       1 â”‚ will_inc_t1  â”‚      1 â”‚     0 â”‚
â”‚     2 â”‚       2 â”‚ leo_inc_t1   â”‚      1 â”‚     0 â”‚
â”‚     3 â”‚       3 â”‚ sarah_inc_t1 â”‚      1 â”‚     0 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜

In [133]:
prob_n1 = duckdb.sql("""
    select
        *
    from
        prob
    where
        source = 2
""")
prob_n2 = duckdb.sql("""
    select
        *
    from
        prob
    where
        source = 3
""")
prob_n3 = duckdb.sql("""
    select
        *
    from
        prob
    where
        source = 4
""")

In [134]:
clus_n1 = duckdb.sql("""
    select
        nextval('uuid') as uuid,
        cluster,
        id,
        source,
        1 as n,
    from (
        select
            distinct on (prob.cluster, prob.source)
            prob.*
        from
            prob_n1 prob
        anti join clus_init cl on
            cl.id = prob.id
            and cl.source = prob.source
        where
            probability > 0.7
        order by
            probability desc,
            id desc
    )
    union
    select
        *
    from
        clus_init
""")
clus_n1

â”Œâ”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ uuid  â”‚ cluster â”‚      id      â”‚ source â”‚   n   â”‚
â”‚ int64 â”‚  int64  â”‚   varchar    â”‚ int64  â”‚ int32 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚     1 â”‚       1 â”‚ will_inc_t1  â”‚      1 â”‚     0 â”‚
â”‚     2 â”‚       2 â”‚ leo_inc_t1   â”‚      1 â”‚     0 â”‚
â”‚     3 â”‚       3 â”‚ sarah_inc_t1 â”‚      1 â”‚     0 â”‚
â”‚     4 â”‚       1 â”‚ will_inc_t2  â”‚      2 â”‚     1 â”‚
â”‚     5 â”‚       4 â”‚ pedro_inc_t2 â”‚      2 â”‚     1 â”‚
â”‚     6 â”‚       2 â”‚ leo_inc_t2   â”‚      2 â”‚     1 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜

In [135]:
clus_n2 = duckdb.sql("""
    select
        nextval('uuid') as uuid,
        cluster,
        id,
        source,
        2 as n,
    from (
        select
            distinct on (prob.cluster, prob.source)
            prob.*
        from
            prob_n2 prob
        anti join clus_n1 cl on
            cl.id = prob.id
            and cl.source = prob.source
        where
            probability > 0.7
        order by
            probability desc,
            id desc
    )
    union
    select
        *
    from
        clus_n1
""")
clus_n2

â”Œâ”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ uuid  â”‚ cluster â”‚      id      â”‚ source â”‚   n   â”‚
â”‚ int64 â”‚  int64  â”‚   varchar    â”‚ int64  â”‚ int32 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚     1 â”‚       1 â”‚ will_inc_t1  â”‚      1 â”‚     0 â”‚
â”‚     2 â”‚       2 â”‚ leo_inc_t1   â”‚      1 â”‚     0 â”‚
â”‚     3 â”‚       3 â”‚ sarah_inc_t1 â”‚      1 â”‚     0 â”‚
â”‚    10 â”‚       1 â”‚ will_inc_t2  â”‚      2 â”‚     1 â”‚
â”‚    11 â”‚       4 â”‚ pedro_inc_t2 â”‚      2 â”‚     1 â”‚
â”‚    12 â”‚       2 â”‚ leo_inc_t2   â”‚      2 â”‚     1 â”‚
â”‚    13 â”‚       1 â”‚ will_inc_t3  â”‚      3 â”‚     2 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜

In [136]:
clus_n3 = duckdb.sql("""
    select
        nextval('uuid') as uuid,
        cluster,
        id,
        source,
        3 as n,
    from (
        select
            distinct on (prob.cluster, prob.source)
            prob.*
        from
            prob_n3 prob
        anti join clus_n2 on
            clus_n2.id = prob.id
            and clus_n2.source = prob.source
        where
            probability > 0.7
        order by
            probability desc,
            id desc
    )
    union
    select
        *
    from
        clus_n2
""")
clus_n3

â”Œâ”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ uuid  â”‚ cluster â”‚      id      â”‚ source â”‚   n   â”‚
â”‚ int64 â”‚  int64  â”‚   varchar    â”‚ int64  â”‚ int32 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚     1 â”‚       1 â”‚ will_inc_t1  â”‚      1 â”‚     0 â”‚
â”‚     2 â”‚       2 â”‚ leo_inc_t1   â”‚      1 â”‚     0 â”‚
â”‚     3 â”‚       3 â”‚ sarah_inc_t1 â”‚      1 â”‚     0 â”‚
â”‚    14 â”‚       1 â”‚ will_inc_t2  â”‚      2 â”‚     1 â”‚
â”‚    15 â”‚       4 â”‚ pedro_inc_t2 â”‚      2 â”‚     1 â”‚
â”‚    16 â”‚       2 â”‚ leo_inc_t2   â”‚      2 â”‚     1 â”‚
â”‚    27 â”‚       1 â”‚ will_inc_t3  â”‚      3 â”‚     2 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜

In [137]:
clus_check_l1 = duckdb.sql("""
    select
        cluster,
        id,
        source,
        n::int as n
    from
        clus_n2
    order by
        cluster,
        source,
        id,
        n
""")
clus_check_l2 = duckdb.sql("""
    select
        cluster,
        id,
        source,
        n::int as n
    from
        clus_n3
    order by
        cluster,
        source,
        id,
        n
""")
clus_check_r = duckdb.sql("""
    select
        cluster,
        id,
        source,
        n_seq::int as n
    from
        clus
    order by
        cluster,
        source,
        id,
        n_par
""")
clus_check_l1.df().equals(clus_check_r.df())
clus_check_l1.df().compare(clus_check_r.df())
clus_check_l2.df().equals(clus_check_r.df())
clus_check_l2.df().compare(clus_check_r.df())

True

Empty DataFrame
Columns: []
Index: []

True

Empty DataFrame
Columns: []
Index: []